<nav>
  <div class="site-title">
    <a href="/"><h1>Resources for Bostonians</h1></a>
    <p class="crimson">Helping Bostonians</p>
  </div>
  <ul>
    <li><a href="/food">Food</a></li>
    <li><a href="/housing">Housing</a></li>
    <li><a href="/job">Jobs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create">Create</a></li>
  </ul>
</nav>
