<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/header.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="about content">
        <h2>About The Resources</h2>
        <p>Rosie's Place is a multi-service community center that offers women emergency shelter and meals, and so much more: a food pantry, ESOL classes, legal assistance, wellness care, one-on-one support, housing and job search services, and community outreach. Here women will find support, opportunity and the tools they need to make a new start. 
        Because we accept no government funding, we rely on our many friends to make all we do possible. Thanks to their generosity, we can remain a safety net for women struggling to survive during these difficult days. Please join us in our life-changing work!</p>
        <p>The people that the Career Start-up Fund helped have become EMTs and Certified Nursing Assistants, restaurant managers and sous chefs, phlebotomists and pharmacy techs, construction safety managers and steam firemen, recovery coaches and counselors, to name a few.</p>
        <p>Women's Lunch Place is a day shelter community for women experiencing poverty and homelessness. Six days a week, trained staff and volunteers work as a team to provide hundreds of women with healing, hope, and dignity. The leadership of Women’s Lunch Place and its Board of Directors are strong stewards of the organization’s finances and strive to maximize every dollar donated in order to meet the needs of over 2,000 women throughout the year.</p>
    </div>
    <%- include("../partials/footer.ejs")%>
</body>
</html>